<div class="container" style="text-align: center;">
  <div class="row">
    <div class="col-xs-12">
      <h1>Test Angular Application</h1>
      <base href="/">
    </div>
  </div>
</div>
<div class="container" style="padding-right: 50cm;">
  <div class="row">
    <div class="col-xs-12">
      <nav>
        <a routerLink="/department" routerLinkStatus="active">DepartmentList</a>
        <a routerLink="/employee" routerLinkStatus="active">EmployeeList</a>
      </nav>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
